<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <title>Chart.js Test</title>
  </head>
  <body>

    <form class="" method="post">
      <label for="text">Enter Stock Ticker:</label>
      <input type="text" name="ticker", id='ticker', value="">
      <input type="submit" value="GO!">
    </form>
    <br>

    <div class="container">
      <canvas id="stockChart" width="1200" height="400"></canvas>

      <script type="text/javascript">
        var my_stockChart = document.getElementById('stockChart').getContext('2d');
        var labels = {{labels | tojson}}
        var prices = {{values | tojson}}
        console.log()
        var stockChart = new Chart(my_stockChart, {
          type:'line', //bar, hoorizontalBar, pie, line, radar, polarArea
          data:{
            labels:labels,
            datasets:[{
              label:["Stock"],
              data:prices,
              borderWidht:1,
              borderColor: '#000'
            }]
          },
          options:{
            responsive: false,
            title:{
              dispay:true,
              text:'Bar Chart Test'
            },
            lengend:{
              display:true,
              position:'right'
            }
          }
        });
      </script>

    </div>

    <br>
    <br>

    <div class="container">
      <canvas id="myChart" width="1200" height="400"></canvas>

      <script type="text/javascript">
        var myChart = document.getElementById('myChart').getContext('2d');
        var labels = {{labels | tojson}}
        var vol = {{vol | tojson}}

        //Global Options
        //Chart.defaults.global.defaultFontFamily='Lato';

        var testChart = new Chart(myChart, {
          type:'bar', //bar, hoorizontalBar, pie, line, radar, polarArea
          data:{
            labels:labels,
            datasets:[{
              label:'Volume',
              data:vol,
              backgroundColor: ['green'],
              borderWidht:2,
              borderColor: '#000'
            }]
          },
          options:{
            responsive: false,
            title:{
              dispay:true,
              text:'Bar Chart Test'
            },
            lengend:{
              display:true,
              position:'right'
            }
          }
        });

      </script>

    </div>

  </body>
</html>
